@import './base.css';

/* font heading  */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* font paragraph */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, p, small {
  font-family: "Quicksand", sans-serif;
  color: #bee4c2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Italiana", sans-serif;
  color: #66bb6a;
}